.profile {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    position: relative;

    &__header {
        display: flex;
        align-items: center;
        column-gap: 21px;

        div {
            cursor: pointer;
        }
    }

    &__product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
    }

    &__another {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 120px 0;

        div {
            width: 70px;
            height: 70px;
        }

        h1 {
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            color: #000;
            margin-top: 31px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #000;
            opacity: 0.5;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 11px;
        }

        button {
            border: none;
            outline: none;
            background: #9dd458;
            border-radius: 18px;
            width: 245px;
            padding: 18px;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            color: #fff;
            margin-top: 40px;
        }


    }
}

// div {
//     position: relative;
// }

.button_log_out {
    position: absolute;
    right: -50px;
    top: -40px;
    border: none;
    outline: none;
    background: #9dd458;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    line-height: 19.36px;
    color: #FFF;
    cursor: pointer;
}

.admin {
    position: relative;

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-top: 30px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__products-product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;

        img {
            width: 110px;
            height: 100px;
        }

        .name {
            font-size: 20px;
        }

        &:nth-of-type(2) {
            h1 {
                margin-right: 20px;
            }
        }

        &:nth-of-type(3) {
            h1 {
                margin-left: 17px;
            }
        }

        
    }
}