* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  background: #E7F6FF;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 85px auto;
  background: #fff;
  border-radius: 20px;
}

.line {
  content: '';
  width: 100%;
  border: 1px solid #EAEAEA;
}

.wrapper {
  padding: 45px 60px;
}
